@use '../../styles/sizes.module';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .crumbs {
    width: 100%;
    position: sticky;
    top: 0;
    background: var(--background);
  }

  .content {
    padding: 0 sizes.$space-md sizes.$space-md sizes.$space-md;
    width: 100%;
    max-width: sizes.$breakpoint-md;

    @media (min-width: sizes.$breakpoint-sm) {
      padding: sizes.$space-lg sizes.$space-xl;
    }

    @media (min-width: sizes.$breakpoint-md) {
      padding: sizes.$space-xxl sizes.$space-xxxl;
    }
  }
}
