@use 'sass:color';
@use '../../styles/colors.module';
@use '../../styles/sizes.module';
@use '../../styles/utils.module' as u;
@use '../HatText/HatText.module.scss';

.base {
  width: 100%;

  label {
    @include HatText.condensed;
    width: 100%;
  }

  input {
    width: 100%;

    border-width: u.to-rem(1);
    border-radius: u.to-rem(8);
    border-style: solid;

    border-color: colors.$input-border;
    background: colors.$background;
    color: colors.$primary;
    box-shadow: 0px 1px 2px 0px color.mix(colors.$primary, transparent, 10%);

    &::placeholder {
      color: colors.$hushed;
    }

    &:focus {
      outline: none;
      border-color: colors.$accent;
      box-shadow: 0px 0px 0px 4px color.mix(colors.$accent, transparent, 30%);
      transition: box-shadow 0.1s;
    }

    &:disabled {
      opacity: 0.5
    }
  }
}

.md {
  input {
    padding: u.to-rem(8) u.to-rem(12);
    font-size: sizes.$font-sm;
    line-height: u.to-rem(18);
  }
}
