@use '../../styles/utils.module' as u;
@use '../../styles/sizes.module';

.LoginRoot {
  min-height: 100vh;
  padding: sizes.$space-xl;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: sizes.$space-xxl;

  .FormContainer {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .widthClamp {
      width: 100%;

      @media screen and (min-width: sizes.$breakpoint-sm) {
        max-width: 300px;
      }
    }
  }
}
