@use '../../styles/utils.module' as u;
@use '../../styles/sizes.module';

.LoginRoot {
  padding: sizes.$space-md;
  display: flex;
  flex-direction: column;

  .FormContainer {
    padding: sizes.$space-xxl 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .widthClamp {
      width: 100%;
    }
  }

  @media screen and (min-width: sizes.$breakpoint-xs) {
    min-height: 100dvh;
    padding: sizes.$space-xl;

    .FormContainer {
      padding-top: 0;
      flex-grow: 1;

      .widthClamp {
        max-width: u.to-rem(300);
      }
    }
  }
}
