@use '../../styles/utils.module' as u;
@use '../../styles/sizes.module';

.LoginRoot {
  min-height: 100dvh;
  padding: sizes.$space-md;
  display: flex;
  flex-direction: column;
  gap: sizes.$space-xxl;

  .FormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .widthClamp {
      width: 100%;
    }
  }

  @media screen and (min-width: sizes.$breakpoint-xs) {
    padding: sizes.$space-xl;

    .FormContainer {
      flex-grow: 1;

      .widthClamp {
        max-width: 300px;
      }
    }
  }
}
