$primary: #232D33;
$accent: #2E9CE5;
$accent-background: #DFF2FF;
$destructive: #D82B3D;
$constructive: #21A56E;

$hushed: #5E6C7F;
$faint: #8F9FAA;
$input-border: #C7D4DC;
$border: #DFE9F0;
$spotlight: #F2F5F7;
$banner-fill: #F9FBFC;
$background: #FFFFFF;

html {
  @media (prefers-color-scheme: dark) {
    $primary: #F3FAFF !global;
    $accent: #2E9CE5 !global;
    $accent-background: #1C425C !global;
    $destructive: #D82B3D !global;
    $constructive: #21A56E !global;

    $hushed: #A3B3BE !global;
    $faint: #879299 !global;
    $input-border: #31404D !global;
    $border: #27333D !global;
    $spotlight: #1C252B !global;
    $banner-fill: #161B1F !global;
    $background: #0C1012 !global;
  }
}
