$primary: #232D33;
$accent: #2E9CE5;
$accent-background: #DFF2FF;
$destructive: #D82B3D;
$constructive: #21A56E;

$hushed: #5E6C7F;
$faint: #8F9FAA;
$input-border: #C7D4DC;
$border: #DFE9F0;
$spotlight: #F2F5F7;
$banner-fill: #F9FBFC;
$background: #FFFFFF;

$primary-dark: #FFFFFF;
$accent-dark: #2E9CE5;
$accent-background-dark: #0F222E;
$destructive-dark: #D82B3D;
$constructive-dark: #21A56E;

$hushed-dark: #A3B3BE;
$faint-dark: #879299;
$input-border-dark: #374957;
$border-dark: #2A3742;
$spotlight-dark: #181F25;
$banner-fill-dark: #111518;
$background-dark: #0C1012;
