@use './utils.module' as u;

$font-xs: u.to-rem(12);
$font-sm: u.to-rem(14);
$font-md: u.to-rem(16);
$font-lg: u.to-rem(18);
$font-xl: u.to-rem(24);
$font-xxl: u.to-rem(32);
$font-billboard: u.to-rem(48);

$line-height-xs: u.to-rem(16);
$line-height-sm: u.to-rem(18);
$line-height-md: u.to-rem(20);
$line-height-lg: u.to-rem(24);
$line-height-xl: u.to-rem(32);
$line-height-xxl: u.to-rem(48);
$line-height-billboard: u.to-rem(56);

$space-xs: u.to-rem(4);
$space-sm: u.to-rem(8);
$space-md: u.to-rem(16);
$space-lg: u.to-rem(24);
$space-xl: u.to-rem(32);
$space-xxl: u.to-rem(48);
$space-xxxl: u.to-rem(64);

$breakpoint-xs: u.to-rem(500);
$breakpoint-sm: u.to-rem(640);
$breakpoint-md: u.to-rem(1024);
