@use 'sass:color';
@use './colors.module';
@use './utils.module' as u;

:root {
  --primary: #{colors.$primary};
  --accent: #{colors.$accent};
  --accent-background: #{colors.$accent-background};
  --destructive: #{colors.$destructive};
  --constructive: #{colors.$constructive};

  --hushed: #{colors.$hushed};
  --faint: #{colors.$faint};
  --input-border: #{colors.$input-border};
  --border: #{colors.$border};
  --spotlight: #{colors.$spotlight};
  --banner-fill: #{colors.$banner-fill};
  --background: #{colors.$background};

  @media(prefers-color-scheme: dark) {
    --primary: #{colors.$primary-dark};
    --accent: #{colors.$accent-dark};
    --accent-background: #{colors.$accent-background-dark};
    --destructive: #{colors.$destructive-dark};
    --constructive: #{colors.$constructive-dark};

    --hushed: #{colors.$hushed-dark};
    --faint: #{colors.$faint-dark};
    --input-border: #{colors.$input-border-dark};
    --border: #{colors.$border-dark};
    --spotlight: #{colors.$spotlight-dark};
    --banner-fill: #{colors.$banner-fill-dark};
    --background: #{colors.$background-dark};
  }

  font-size: u.$root-font-px +px;
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  min-height: 100%;
}

body {
  color: var(--primary);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-family: unset;
  outline-color: var(--accent);

  &::selection {
    background: color-mix(in hsl, var(--accent) 40%, transparent 60%);
  }
}

form {
  width: 100%;
}
