@use 'sass:color';
@use './colors.module';
@use './sizes.module';
@use './utils.module' as u;

:root {
  // z-indices
  --z-base: 0;
  --z-menu: 1;
  --z-popover: 10;
  --z-tooltip: 100;
  --z-modal: 1000;

  // colors
  --primary: #{colors.$primary};
  --accent: #{colors.$accent};
  --accent-background: #{colors.$accent-background};
  --destructive: #{colors.$destructive};
  --constructive: #{colors.$constructive};
  --hushed: #{colors.$hushed};
  --faint: #{colors.$faint};
  --input-border: #{colors.$input-border};
  --border: #{colors.$border};
  --spotlight: #{colors.$spotlight};
  --banner-fill: #{colors.$banner-fill};
  --background: #{colors.$background};

  // mixes
  --backdrop: color-mix(in hsl, var(--hushed) 10%, transparent 90%);
  --shadow: color-mix(in hsl, var(--primary) 10%, transparent 90%);

  // filters
  --accent-hover: brightness(1.2);
  --secondary-hover: brightness(0.98);
  --destructive-hover: brightness(0.95);
  --constructive-hover: brightness(0.95);
  --minimal-hover: brightness(0.97);

  //shadows
  --input-shadow: 0px 1px 2px 0px var(--shadow);
  --modal-shadow: 0 #{sizes.$space-sm} #{sizes.$space-lg} 0 var(--shadow),
  0 #{sizes.$space-xl} #{u.to-rem(128)} 0 var(--shadow);

  @media(prefers-color-scheme: dark) {
    // colors
    --primary: #{colors.$primary-dark};
    --accent: #{colors.$accent-dark};
    --accent-background: #{colors.$accent-background-dark};
    --destructive: #{colors.$destructive-dark};
    --constructive: #{colors.$constructive-dark};
    --hushed: #{colors.$hushed-dark};
    --faint: #{colors.$faint-dark};
    --input-border: #{colors.$input-border-dark};
    --border: #{colors.$border-dark};
    --spotlight: #{colors.$spotlight-dark};
    --banner-fill: #{colors.$banner-fill-dark};
    --background: #{colors.$background-dark};

    // mixes
    --backdrop: color-mix(in hsl, var(--background) 50%, transparent 50%);

    // filters
    --accent-hover: brightness(1.05);
    --secondary-hover: brightness(1.1);
    --destructive-hover: brightness(0.95);
    --constructive-hover: brightness(0.95);
    --minimal-hover: brightness(1.2);
  }

  font-size: u.$root-font-px +px;
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  min-height: 100%;
}

body {
  color: var(--primary);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-family: unset;
  outline-color: var(--accent);

  &::selection {
    background: color-mix(in hsl, var(--accent) 40%, transparent 60%);
  }
}

form {
  width: 100%;
}

#modal-root {
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 30;
}
