@use '../../styles/colors.module';

.base {
  display: contents; // otherwise span around svg adds extra height
}

.md {
  width: 200px;
}

.primary {
  color: var(--primary);
}

.hushed {
  color: var(--hushed);
}

.faint {
  color: var(--faint);
}

.constructive {
  color: var(--constructive);
}

.destructive {
  color: var(--destructive);
}
