@use '../../styles/colors.module';

.base {
  display: contents; // otherwise span around svg adds extra height
}

.md {
  width: 200px;
}

.primary {
  color: colors.$primary;
}

.hushed {
  color: colors.$hushed;
}

.faint {
  color: colors.$faint;
}

.constructive {
  color: colors.$constructive;
}

.destructive {
  color: colors.$destructive;
}
