@use '../../styles/sizes.module';
@use '../../styles/utils.module' as u;

.link {
  display: contents;
}

.container {
  width: 100%;
  padding: sizes.$space-sm-md;
  border-radius: sizes.$space-sm;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: sizes.$space-md;

  &:hover {
    background: var(--spotlight);
  }
}
