@use '../../styles/sizes.module';

.base {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

// conditionals

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifyCenter {
  justify-content: center;
}

.justifySpaceBetween {
  justify-content: space-between;
}

.alignStart {
  align-items: flex-start;
}

.alignEnd {
  align-items: flex-end;
}

.alignCenter {
  align-items: center;
}

.alignStretch {
  align-items: stretch;
}

.gapNone {
  gap: 0;
}

.gapXs {
  gap: sizes.$space-xs;
}

.gapSm {
  gap: sizes.$space-sm;
}

.gapMd {
  gap: sizes.$space-md;
}

.gapLg {
  gap: sizes.$space-lg;
}

.gapXl {
  gap: sizes.$space-xl;
}

.gapXxl {
  gap: sizes.$space-xxl;
}

.gapXxxl {
  gap: sizes.$space-xxxl;
}

.paddingNone {
  padding: 0;
}

.paddingXs {
  padding: sizes.$space-xs;
}

.paddingSm {
  padding: sizes.$space-sm;
}

.paddingMd {
  padding: sizes.$space-md;
}

.paddingLg {
  padding: sizes.$space-lg;
}

.paddingXl {
  padding: sizes.$space-xl;
}

.paddingXxl {
  padding: sizes.$space-xxl;
}

.paddingXxxl {
  padding: sizes.$space-xxxl;
}
