@use '../../styles/colors.module';
@use '../../styles/sizes.module';
@use '../../styles/utils.module' as u;

.container {
  border-radius: u.to-rem(6);
  position: relative;
  display: flex;
  align-items: center;
  gap: sizes.$space-sm;
  padding: sizes.$space-xs sizes.$space-sm;
  color: var(--faint);
  text-decoration: none;
  overflow: hidden;

  &:hover {
    background: var(--spotlight);
  }

  .block {
    width: sizes.$space-xs;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--accent);
    visibility: hidden;
  }

  &.active {
    color: var(--primary);
    background: var(--accent-background);

    &:hover {
      color: var(--primary);
      background: var(--accent-background);
    }

    .block {
      visibility: visible;
    }
  }

  @media (max-width: sizes.$breakpoint-sm) {
    padding: sizes.$space-sm sizes.$space-sm;
  }
}
