@use '../../styles/colors.module';
@use '../../styles/animations.module';

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--faint);
  animation: animations.$pulse 2s ease-in-out infinite;
}
