@use '../../styles/utils.module' as u;
@use '../../styles/sizes.module';
@use '../../styles/colors.module';

.container {
  height: 100dvh;
  padding: 1rem 0.5rem;
  border-style: solid;
  border-width: 0 u.to-rem(1) 0 0;
  border-color: colors.$border;
  position: sticky;
  top: 0px;
  display: flex;
  gap: sizes.$space-md;
  flex-direction: column;
  align-items: stretch;
  background: colors.$background;

  .menuButton {
    display: none;
  }

  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: sizes.$space-md;
    overflow: scroll;

    .navLink {
      padding: 0.375rem 0.5rem;
      font-size: 1rem;
      text-decoration: none;
    }
  }

  @media (max-width: sizes.$breakpoint-sm) {
    width: 100%;
    height: 100dvh;
    position: fixed;
    border-width: 0 0 u.to-rem(1) 0;

    &:has(.closed) {
      height: unset;
      position: sticky;
    }

    .content {
      &.closed {
        display: none;
      }
    }

    .menuButton {
      display: contents;
    }
  }
}
