@use '../../styles/utils.module' as u;
@use '../../styles/sizes.module';
@use '../../styles/colors.module';

.container {
  height: 100dvh;
  padding: u.to-rem(16) u.to-rem(8) 0 u.to-rem(8);
  border-style: solid;
  border-width: 0 u.to-rem(1) 0 0;
  border-color: colors.$border;
  position: sticky;
  top: 0px;
  display: flex;
  gap: sizes.$space-md;
  flex-direction: column;
  align-items: stretch;
  background: colors.$background;

  .menuButton {
    display: none;
  }

  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: sizes.$space-md;
    overflow: scroll;

    .navLink {
      padding: 0.375rem 0.5rem;
      font-size: 1rem;
      text-decoration: none;
    }
  }

  .user {
    padding: u.to-rem(16) 0;
  }

  @media (max-width: sizes.$breakpoint-sm) {
    width: 100%;
    height: 100dvh;
    padding-bottom: u.to-rem(64);
    border-width: 0 0 u.to-rem(1) 0;
    position: fixed;

    &:has(.closed) {
      height: unset;
      padding: u.to-rem(16) u.to-rem(8);
      position: sticky;
    }

    .content {
      &.closed {
        display: none;
      }
    }

    .menuButton {
      display: contents;
    }

    .user {
      width: 100%;
      height: u.to-rem(64);
      border-style: solid;
      border-width: u.to-rem(1) 0 0 0;
      border-color: colors.$border;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0 u.to-rem(8);
      display: flex;
      align-items: center;
    }
  }
}
