@use '../../styles/utils.module' as u;
@use '../../styles/colors.module';

.container {
  height: 100dvh;
  padding: 1rem 0.5rem;
  border-style: solid;
  border-width: 0 u.to-rem(1) 0 0;
  border-color: colors.$border;
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  .navLink {
    padding: 0.375rem 0.5rem;
    font-size: 1rem;
    text-decoration: none;
  }
}
