@use '../../styles/sizes.module';

.base {
  width: 100%;
}

.paddingYNone {
  padding-top: 0;
  padding-bottom: 0;
}

.paddingYXs {
  padding-top: sizes.$space-xs;
  padding-bottom: sizes.$space-xs;
}

.paddingYSm {
  padding-top: sizes.$space-sm;
  padding-bottom: sizes.$space-sm;
}

.paddingYMd {
  padding-top: sizes.$space-md;
  padding-bottom: sizes.$space-md;
}

.paddingYLg {
  padding-top: sizes.$space-lg;
  padding-bottom: sizes.$space-lg;
}

.paddingYXl {
  padding-top: sizes.$space-xl;
  padding-bottom: sizes.$space-xl;
}

.paddingYXxl {
  padding-top: sizes.$space-xxl;
  padding-bottom: sizes.$space-xxl;
}

.paddingYXxxl {
  padding-top: sizes.$space-xxxl;
  padding-bottom: sizes.$space-xxxl;
}

.paddingXNone {
  padding-left: 0;
  padding-right: 0;
}

.paddingXXs {
  padding-left: sizes.$space-xs;
  padding-right: sizes.$space-xs;
}

.paddingXSm {
  padding-left: sizes.$space-sm;
  padding-right: sizes.$space-sm;
}

.paddingXMd {
  padding-left: sizes.$space-md;
  padding-right: sizes.$space-md;
}

.paddingXLg {
  padding-left: sizes.$space-lg;
  padding-right: sizes.$space-lg;
}

.paddingXXl {
  padding-left: sizes.$space-xl;
  padding-right: sizes.$space-xl;
}

.paddingXXxl {
  padding-left: sizes.$space-xxl;
  padding-right: sizes.$space-xxl;
}

.paddingXXxxl {
  padding-left: sizes.$space-xxxl;
  padding-right: sizes.$space-xxxl;
}
