@use '../../styles/sizes.module';
@use '../../styles/utils.module' as u;

.container {
  display: grid;
  grid-template-columns: 18rem 1fr;

  @media (max-width: sizes.$breakpoint-sm) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
}
