@use '../../styles/sizes.module';
@use '../../styles/utils.module' as u;

.container {
  padding: sizes.$space-sm-md;
  color: var(--input-border);

  .segment {
    display: flex;
    justify-content: center;
    align-items: center;
    height: sizes.$space-lg;
    padding: 0 sizes.$space-xs;
    border-radius: sizes.$space-xs;

    &:hover {
      color: black;
      background-color: var(--spotlight);
    }
  }
}
