@use '../../styles/colors.module';
@use '../../styles/sizes.module';
@use '../../styles/utils.module' as u;
@use '../HatText/HatText.module.scss';

.base {
  @include HatText.condensed;
  border-width: u.to-rem(1);
  border-radius: u.to-rem(8);
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  &.disabled {
    opacity: 0.5
  }
}

// conditionals

.md {
  padding: u.to-rem(8) u.to-rem(12);
  gap: u.to-rem(8);
  font-size: sizes.$font-sm;
  line-height: u.to-rem(18);
}

.lg {
  padding: u.to-rem(12) u.to-rem(16);
  gap: u.to-rem(8);
  font-size: sizes.$font-md;
  line-height: u.to-rem(24);
}

.primary {
  border-color: colors.$primary;
  background: colors.$primary;
  color: colors.$background;

  &:hover {
    filter: brightness(1.2);
  }
}

.secondary {
  border-color: colors.$input-border;
  background: colors.$background;
  color: colors.$primary;

  &:hover {
    filter: brightness(0.98);
  }
}

.accent {
  border-color: colors.$accent;
  background: colors.$accent;
  color: colors.$background;

  &:hover {
    filter: brightness(0.95);
  }
}

.destructive {
  border-color: colors.$destructive;
  background: colors.$destructive;
  color: colors.$background;

  &:hover {
    filter: brightness(0.95);
  }
}

.constructive {
  border-color: colors.$constructive;
  background: colors.$constructive;
  color: colors.$background;

  &:hover {
    filter: brightness(0.95);
  }
}
