@use '../../styles/colors.module';
@use '../../styles/sizes.module';
@use '../../styles/utils.module' as u;
@use '../HatText/HatText.module.scss';

.base {
  @include HatText.header;
  border: none;
  border-radius: u.to-rem(8);
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.md {
  padding: u.to-rem(8) u.to-rem(12);
  gap: u.to-rem(8);
  font-size: sizes.$font-sm;
  line-height: u.to-rem(18);
}

.lg {
  padding: u.to-rem(12) u.to-rem(16);
  gap: u.to-rem(8);
  font-size: sizes.$font-md;
  line-height: u.to-rem(24);
}

.primary {
  background: colors.$primary;
  color: colors.$background;

  &.disabled {
    opacity: 0.5
  }
}

.secondary {
  background: colors.$background;
  color: colors.$primary;

  &.disabled {
    opacity: 0.5
  }
}

.accent {
  background: colors.$accent;
  color: colors.$background;

  &.disabled {
    opacity: 0.5
  }
}

.destructive {
  background: colors.$destructive;
  color: colors.$background;

  &.disabled {
    opacity: 0.5
  }
}

.constructive {
  background: colors.$constructive;
  color: colors.$background;

  &.disabled {
    opacity: 0.5
  }
}
