@use 'sass:color';
@use '../../styles/colors.module';
@use '../../styles/sizes.module';
@use '../../styles/utils.module' as u;
@use '../HatText/HatText.module.scss';

.base {
  @include HatText.condensed;
  border-width: u.maintain-px(1);
  border-radius: sizes.$space-sm;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  &:focus {
    outline: none;
    transition: box-shadow 0.1s;
  }

  &:hover {
    cursor: pointer;
  }

  &.disabled {
    opacity: 0.5;

    &:hover {
      cursor: not-allowed;
      filter: none;
    }
  }
}

// conditionals

.sm {
  padding: sizes.$space-xs sizes.$space-sm;
  gap: sizes.$space-xs;
  font-size: sizes.$font-xs;
  line-height: sizes.$line-height-xs;

  &.iconOnly {
    padding: sizes.$space-xs;
  }
}

.md {
  padding: sizes.$space-sm sizes.$space-sm-md;
  gap: sizes.$space-xs;
  font-size: sizes.$font-sm;
  line-height: sizes.$line-height-sm;

  &.iconOnly {
    padding: sizes.$space-sm-md;
  }
}

.lg {
  padding: sizes.$space-sm-md sizes.$space-sm-md;
  gap: sizes.$space-sm;
  font-size: sizes.$font-md;
  line-height: sizes.$line-height-lg;

  &.iconOnly {
    padding: sizes.$space-sm-md;
  }
}

.primary {
  border-color: var(--primary);
  background: var(--primary);
  color: var(--background);

  @media (prefers-color-scheme: dark) {
    border-color: var(--accent);
    background: var(--accent);
    color: var(--primary);
  }


  &:focus {
    box-shadow: 0px 0px 0px 4px color-mix(in hsl, var(--accent) 40%, transparent 60%);
  }

  &:hover {
    filter: var(--accent-hover);
  }
}

.secondary {
  border-color: var(--input-border);
  background: var(--background);
  color: var(--primary);

  &:focus {
    border-color: var(--accent);
    box-shadow: 0px 0px 0px 4px color-mix(in hsl, var(--accent) 40%, transparent 60%);
  }

  &:hover {
    filter: var(--secondary-hover);
  }

  @media (prefers-color-scheme: dark) {
    background: none;
  }
}

.destructive {
  border-color: var(--destructive);
  background: var(--destructive);
  color: var(--background);

  &:focus {
    box-shadow: 0px 0px 0px 4px color-mix(in hsl, var(--destructive) 30%, transparent 70%);
  }

  &:hover {
    filter: var(--destructive-hover);
  }
}

.constructive {
  border-color: var(--constructive);
  background: var(--constructive);
  color: var(--background);

  &:focus {
    box-shadow: 0px 0px 0px 4px color-mix(in hsl, var(--constructive) 30%, transparent 70%);
  }

  &:hover {
    filter: var(--constructive-hover);
  }
}

._minimal {
  border-color: transparent;
  background: none;
  color: var(--primary);
  text-decoration: underline;
  text-underline-offset: 3px;

  &:focus {
    border-color: var(--accent);
    box-shadow: 0px 0px 0px 4px color-mix(in hsl, var(--accent) 40%, transparent 60%);
  }

  &:hover {
    backdrop-filter: var(--minimal-hover);
  }
}
